<h2> Bedienungsanleitung </h2>

<mat-accordion class="add-breaks">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                1. Einleitung
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            Das Dokumentationssystem mit dem Namen “Plonk” ist eine Webseite, welches für die
            Dokumentation von Geräten, Dünger, Pflanzenschutzmittel und Maßnahmen von Gärtnern
            verwendet wird. 
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2. Aufbau des Systems
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            a. Objekte
                <div>
                    Felder, Geräte, Dünger und Pflanzenschutzmittel werden im System als Objekte bezeichnet.
                </div>
            b. Maßnahmen
                <div>
                    Maßnahmen sind z.B. das Gießen von Feldern oder das Auftragen von
                    Pflanzenschutzmittel. Damit Maßnahmen erstellt werden können, werden dafür Objekte
                    benötigt.
                </div>
            c. Presets
                <div>
                    Presets sind vordefinierte Maßnahmen. Durch Presets können oft vorkommende
                    Maßnahmen schnell ins System eingetragen werden. Damit Presets erstellt werden können
                    werden Objekte benötigt.
                </div>
            d. Spracheingabe/Dialogflow
                <div>
                    Die Spracheingabe kann Maßnahmen und Presets auswählen. Zusätzlich kann noch 
                    während der Auswahl ein Eingabefeld verändert werden. (Siehe)
                    Einzelne Eingabefelder der Maßnahme können entweder per Hand oder durch die Spracheingabe angepasst werden. 
                    Damit die Spracheingabe verwendet werden kann, müssen zuvor die Objekte und Presets angelegt werden. 
                    Nachdem die Objekte und Presets angelegt sind, muss die Spracheingabe manuell vom Admin aktualisiert werden. Erst nach der
                    Aktualisierung können die neuen Objekte und Presets von der Spracheingabe erkannt werden.
                </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                3. Basic Funktionen
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            a. Anmelden
            <div>
                Damit Sie sich in Plonk anmelden können, benötigen Sie zuerst einen Account. Der Account
                wird nicht von Ihnen erstellt, sondern nur von einem Admin. Nachdem der Account erstellt
                wurde, können Sie sich in Plonk anmelden.
                <br>
                Achten Sie darauf, dass Sie sich im richtigen Plonk anmelden. Jeder Betrieb erhält ein
                eigenes Plonk-System. Am besten schauen Sie in die URL, ob dort der Name Ihres Betriebs
                vorkommt.
                <br>
            </div>
            b. Abmelden
            <div>
                Um sich abzumelden klicken Sie oben rechts auf das Logout Symbol. <br>
                Abbildung des Logout Symbol.
                <button mat-icon-button matTooltip="Logout">
                    <mat-icon>login</mat-icon>
                </button>
            </div>
            c. Profil oder Passwort ändern
            <div>
                Um das Profil anzupassen oder das Passwort zu ändern, klicken Sie oben rechts auf das
                Profil Symbol.
                <br>
                Abbildung des Profil Symbol.
                <a mat-icon-button matTooltip="Profil" target="_blank">
                    <mat-icon>person</mat-icon>
                </a>
            </div>
            d. Sprache ändern
            <div>
                Um die Sprache auf Niederländisch oder auf Deutsch umzustellen, klicken Sie auf die
                entsprechende Flagge.
                <a mat-icon-button matTooltip="Deutsch">
                    <flag country="DE"></flag>
                </a>
                  <a mat-icon-button matTooltip="Nederlands">
                    <flag country="NL"></flag>
                </a>
            </div>
            e. Dashboard
            <div>
                Nachdem Sie sich in Plonk angemeldet haben, kommen Sie zum Dashboard. Dort können
                Sie Ihre favorisierten Objekte, Maßnahmen und Presets finden.
            </div>
            f. Menü
            <div>
                Über das Menü oben links können Sie zu den Punkten “Dashboard”, “Objekte”,
                “Maßnahmen”, “Presets” oder “Dialogflow” gelangen.
                <br>
                Abbildung des Menü Symbol.
                <button mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                4. Objekte, Maßnahmen oder Presets erstellen
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            Über das Menü können Sie zu “Objekte”, “Maßnahmen” oder “Presets” gelangen. Dort können Sie auswählen, welches
            “Objekt”, “Maßnahme” oder “Preset” Sie erstellen wollen. Nachdem Sie ein “Objekt”, “Maßnahme” oder “Preset” ausgewählt haben, füllen Sie die Felder
            aus. Erfordlerliche Felder werden mit einem Sternchen (*) gekennzeichnet. Manche Felder sind optional, so dass diese leer gelassen werden können.
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                5. Presets verwenden
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            Über das Menü kommen Sie zu “Maßnahmen”. Dort wählen Sie eine Maßnahme aus. 
            Oben links können Sie ein Feld mit den Name “Presets” finden. 
            Falls keine Presets für diese Maßnahme erstellt wurden, wird das Feld “Presets” nicht angezeigt.
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                6. Spracheingabe verwenden
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <p>
                Über das Menü können sie zu "Spracheingabe" gelangen. Dort können sie eine Maßnahme in 2
                bis 3 Schritten erstellen.
            </p>
            <div>
                <p>a. erster Schritt: Maßnahme auswählen</p>
                <div>
                    <table class="table_without_borderlines">
                        <tr>
                            <td>Satzaufbau:</td>
                            <td>[Maßnahme auswählen]</td>
                            <td>[Preset auswählen]</td>
                            <td>[eine Veränderung in einem Eingabefeld]</td>
                        </tr>
                        <tr>
                            <td>z.B.:</td>
                            <td>Gießen Regner</td>
                            <td>Feld 1 gießen</td>
                            <td>Regner 1 und Regner 2</td>
                        </tr>
                    </table>

                    Hier wurde die Maßnahme "Gießen (Regner)" und Preset "Feld 1 gießen" ausgewählt.            <br>
                    Statt nur den Feld 1 zu gießen, soll noch zusätzlich ein weiteres Feld gegossen werden.     <br>
                    <br>
                    - Während das System die Maßnahme auswählt, wird geprüft ob Presets vorhanden
                    sind. Falls nicht, wird der nächste Schritt übersprungen.
                </div>
                <br>
                <p>b. zweiter Schritt: Preset auswählen (Optional)</p>
                <div>
                    <table class="table_without_borderlines">
                        <tr>
                            <td>Satzaufbau:</td>
                            <td>[Preset auswählen]</td>
                            <td>[eine Veränderung in einem Eingabefeld]</td>
                        </tr>
                        <tr>
                            <td>z.B.:</td>
                            <td>Feld 1 gießen</td>
                            <td>Regner 1 und Regner 2</td>
                        </tr>
                    </table> 

                    Hier wurde ein Preset mit dem Namen "Feld 1 gießen" ausgewählt.                             <br>
                    Statt nur den Feld 1 zu gießen, soll noch zusätzlich ein weiteres Feld gegossen werden.     <br>
                    <br>
                    - Falls sie eine Maßnahme ohne ein Preset erstellen wollen, können sie diesen Schritt auch überspringen.
                </div>
                <br>
                <p>c. dritter Schritt: Maßnahme bearbeiten</p>
                <div>
                    - Je nachdem welche Maßnahme sie ausgewählt haben, erhalten sie ein anderes
                    Formular.
                    <br>
                    - Hier können sie die Maßnahme manuell oder per Spracheingabe bearbeiten.
                    <br>
                    - Um die Eingabefelder mit der Spracheingabe zu bearbeiten, müssen sie nur den Wert sagen, denn sie auswählen wollen.<br>
                    <br>
                    - Über den 'Speichern' Button oder über den Sprachbot kann die Maßnahme
                    abgespeichert werden.
                    <br>
                    - Um die Maßnahme über die Spracheingabe zu speichern, sagen sie einfach 'fertig'.
                </div>
                <br>
                <p>d. Hinweise</p>
                <div>
                    - Die Spracheingabe benötigt wenige Sekunden bis sie eine Antwort gibt.
                    <br>
                    - Wenn sie ein Eingabefeld Verändern wollen, welches aus einer Zahl besteht, müssen sie noch die Einheit dazu sagen.
                    z.B. (L/Ha) -> Liter pro Hektar
                    <br>
                    - Das Eingabefeld "Einweghäufigkeit" hat keine Einheit, weshalb statt Zahlen, Zahlwörter verwendet wird.
                    Beispiele: einmal, zweimal, dreimal, viermal ...
                    <br>
                    - Neue Presets werden in der Dropdown-Liste angezeigt, jedoch kann die
                    Spracheingabe die neuen Inhalte erst verwenden, wenn der Chatbot aktualisiert wird.
                    Wenden Sie sich an den zuständigen IT Support, um den Chatbot mit den neuen
                    Inhalten zu aktualisieren. (dmitrij.poberej@hsrw.org)
                    <br>
                    - Wenn sie eine andere Maßnahme durch die Spracheingabe auswählen wollen, müssen sie im ersten Schritt sein.
                    <br>
                    - Wenn sie eine anderen Preset durch die Spracheingabe auswählen wollen, müssen sie im zweiten Schritt sein.
                </div>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                7. Excel Import
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <p>
                Hier erfahren sie wie die Excel Tabelle angelegt werden kann, <br>
                damit die Inhalte ins Dokumentationssystem übertragen werden.
            </p>
            <div>
                <p>1. Aufbau der jeweiligen Tabellen</p>
                <div>
                    In Zeile 1 Spalte A steht immer der Objekt Name Verändert diesen Wert nicht!                    <br>
                    In Zeile 2 sind die Sektoren. Diese sind nur zur Übersicht da.                                  <br>
                    In Zeile 3 sind wichtige Werte die nicht gelöscht werden dürfen. (Die Zeile ist versteckt)      <br>
                    In Zeile 4 wird der Typ der Spalte gennant (z.B. Number, Text). In Kapitel 4. Typen             <br>
                    sind weitere Informationen über dieses Thema.                                                   <br>
                    In Zeile 5 sind die Spalten Namen. Diese sind zur Übersicht da.                                 <br>
                    Ab Zeile 6 können Daten eingetragen werden.                                                     <br>
                </div>
                <br>
                <p>2. Wie der Name der Zeile anzulegen ist.</p>
                <div>
                    Jede Zeile entspricht einen neuen Datensatz.                                                                 <br>
                    Der Name steht immer am Anfang und muss vorhanden sein,                                                      <br>
                    denn wenn das Programm eine leere Namen Zelle sieht, so denkt das Programm es ist am Ende angekommen und     <br>
                    geht zur nächsten Tabelle über.                                                                              <br>
                    Der Name kann sowohl Buchstaben als auch Zahlen beinhalten. Passen sie jedoch auf mehrere Leerzeichen auf,   <br>
                    diese erkennt das Programm auch.                                                                             <br>
                    <br>
                    Ein Beispiel, welches richtig angelegt ist:                                                                  <br>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Spalte 1</th>
                            <th>Spalte 2</th>
                        </tr>
                        <tr>
                            <td>Daten 1</td>
                            <td>Wert 1</td>
                            <td>Wert 2</td>
                        </tr>
                        <tr>
                            <td>Daten 2</td>
                            <td><BLOCKQUOTE></BLOCKQUOTE></td>
                            <td><BLOCKQUOTE></BLOCKQUOTE></td>
                        </tr>
                        <tr>
                            <td>Daten 3</td>
                            <td><BLOCKQUOTE></BLOCKQUOTE></td>
                            <td>Wert 3</td>
                        </tr>
                    </table> 
                    <br>
                    Ein weiteres Beispiel, welches richtig angelegt ist:                    <br>
                    Hier aber ist der Name des Objektes mit mehreren Leerzeichen angelegt.  <br>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Spalte 1</th>
                            <th>Spalte 2</th>
                        </tr>
                        <tr>
                            <td>"Daten     1"</td>
                            <td>Wert 1</td>
                            <td>Wert 2</td>
                        </tr>
                        <tr>
                            <td>Daten 2</td>
                            <td><BLOCKQUOTE></BLOCKQUOTE></td>
                            <td><BLOCKQUOTE></BLOCKQUOTE></td>
                        </tr>
                        <tr>
                            <td>Daten 3</td>
                            <td><BLOCKQUOTE></BLOCKQUOTE></td>
                            <td>Wert 3</td>
                        </tr>
                    </table>
                    <br>
                    Ein Beispiel, welches falsch angelegt ist:                  <br>
                    (Name ist leer, weshalb dieses nicht erkannt werden kann.)  <br>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Spalte 1</th>
                            <th>Spalte 2</th>
                        </tr>
                        <tr>
                            <td><BLOCKQUOTE></BLOCKQUOTE></td>
                            <td>Wert 1</td>
                            <td>Wert 2</td>
                        </tr>
                    </table>
                    <br>
                    Ein weiteres Beispiel, welches falsch angelegt ist:         <br>
                    Hier ist eine Leere Zeile zwischen „Daten 1“ und „Daten 2“. <br>
                    „Daten 2“ und „Daten 3“ werden nicht gespeichert.           <br>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Spalte 1</th>
                            <th>Spalte 2</th>
                        </tr>
                        <tr>
                            <td>Daten     1</td>
                            <td>Wert 1</td>
                            <td>Wert 2</td>
                        </tr>
                        <tr>
                            <td><BLOCKQUOTE></BLOCKQUOTE></td>
                            <td><BLOCKQUOTE></BLOCKQUOTE></td>
                            <td><BLOCKQUOTE></BLOCKQUOTE></td>
                        </tr>
                        <tr>
                            <td>Daten 2</td>
                            <td><BLOCKQUOTE></BLOCKQUOTE></td>
                            <td><BLOCKQUOTE></BLOCKQUOTE></td>
                        </tr>
                        <tr>
                            <td>Daten 3</td>
                            <td><BLOCKQUOTE></BLOCKQUOTE></td>
                            <td>Wert 3</td>
                        </tr>
                    </table>
                </div>
                <br>
                <p>3. Bedeutung von *</p>
                <div>
                    Mit dem * sollen notwendige Werte markiert werden, jedoch achtet das Programm nicht drauf, ob   <br>
                    die notwendigen Spalten ausgefüllt sind. Achten sie bitte selbst drauf.                         <br>
                </div>
                <br>
                <p>4. Typen</p>
                <div>
                    Ab Zeile 6 können Daten eingetragen werden.                 <br>
                    Die Form der Daten werden von den Typen in Zeile 4 bestimmt.<br>
                    <div>
                        <br>
                        <p>4.1 text</p>
                        <div>
                            So werden in Type Text Zahlen und Nummern aktzeptiert. 
                        </div>
                        <br>
                        <p>4.2 number</p>
                        <div>
                            Im Type Number werden nur Zahlen akzeptiert.
                        </div>
                        <br>
                        <p>4.3 datepicker</p>
                        <div>
                            Im Type datepicker muss ein Datum eingegeben werden. Halten sie sich an das Format, welches vorgegeben ist.
                        </div>
                        <br>
                        <p>4.4 checkbox</p>
                        <div>
                            Im Type Checkbox darf nur true oder false eingetragen werden.
                        </div>
                        <br>
                        <p>4.5 dropdown</p>
                        <div>
                            Im Type Dropdown kann über ein Dropdown Menü ein Element ausgewählt werden.
                        </div>
                        <br>
                        <p>4.6 ref</p>
                        <div>
                            Im Type ref gefolgt von dem referenzierten Objekt, soll ein bereits erstelltes Objekt eingetragen werden.<br>
                            Der Wert muss exakt dem Namen des Objektes übereinstimmen (jeder Buchstabe und Leerzeichen). <br>
                            Ein Beispiel mit „ref Feld“: <br>
                            <br>
                            Es können bereits im System vorliegende <br>
                            Felder ausgewählt werden oder Felder <br>
                            die in der Excel erstellt werden. <br>
                            <br>
                            Wir sagen mal Feld 1, Feld 2, Feld 3 <br>
                            sind im System bereits eingetragen <br>
                            <br>
                            Und in der Excel sollen Feld 4 und Feld5 zusätzlich erstellt werden. (Ich fülle die Tabelle nicht komplett aus.) <br>

                            <table>
                                <tr class="row_without_borderline">
                                    <th>Feld</th>
                                    <th><BLOCKQUOTE></BLOCKQUOTE></th>
                                    <th><BLOCKQUOTE></BLOCKQUOTE></th>
                                    <th><BLOCKQUOTE></BLOCKQUOTE></th>
                                    <th><BLOCKQUOTE></BLOCKQUOTE></th>
                                </tr>
                                <tr class="row_without_borderline">
                                    <td>Allgemein</td>
                                    <td><BLOCKQUOTE></BLOCKQUOTE></td>
                                    <td><BLOCKQUOTE></BLOCKQUOTE></td>
                                    <td>Beete</td>
                                    <td><BLOCKQUOTE></BLOCKQUOTE></td>
                                </tr>
                                <tr>
                                    <th>*Name</th>
                                    <th>*Fläche (Brutto in m²)</th>
                                    <th>*Fläche (Netto in m²)</th>
                                    <th>*Beete.Name</th>
                                    <th>*Beete.Fläche (Netto in m²)</th>
                                </tr>
                                <tr>
                                    <td>Feld 4</td>
                                    <td><BLOCKQUOTE></BLOCKQUOTE></td>
                                    <td><BLOCKQUOTE></BLOCKQUOTE></td>
                                    <td><BLOCKQUOTE></BLOCKQUOTE></td>
                                    <td><BLOCKQUOTE></BLOCKQUOTE></td>
                                </tr>
                                <tr>
                                    <td>Feld5</td>
                                    <td><BLOCKQUOTE></BLOCKQUOTE></td>
                                    <td><BLOCKQUOTE></BLOCKQUOTE></td>
                                    <td><BLOCKQUOTE></BLOCKQUOTE></td>
                                    <td><BLOCKQUOTE></BLOCKQUOTE></td>
                                </tr>
                            </table>
                            <br>
                            Hier werden die Felder ausgewählt <br>
                            <table>
                                <tr>
                                    <th>*Name</th>
                                    <th>*Feld</th>
                                </tr>
                                <tr>
                                    <td>Test 1</td>
                                    <td>Feld 1</td>
                                </tr>
                                <tr>
                                    <td>Test 2</td>
                                    <td>Feld 2</td>
                                </tr>
                                <tr>
                                    <td>Test 3</td>
                                    <td>Feld 3</td>
                                </tr>
                                <tr>
                                    <td>Test 4</td>
                                    <td>Feld 4</td>
                                </tr>
                                <tr>
                                    <td>Test 5</td>
                                    <td>Feld5</td>
                                </tr>
                            </table>
                            <br>
                            Besondere Aufmerksamkeit gilt für Leerzeichen!<br>
                            Das Untere würde ein Fehler ausrufen bei „Test 3“ und „Test 4“<br>
                            Weil Test 3 ein Leerzeichen noch dahinter hat („Feld 3 „) und Test 4 ein weiteres Leerzeichen in der Mitte („Feld  4“)<br>
                            <table>
                                <tr>
                                    <th>*Name</th>
                                    <th>*Feld</th>
                                </tr>
                                <tr>
                                    <td>Test 1</td>
                                    <td>Feld 1</td>
                                </tr>
                                <tr>
                                    <td>Test 2</td>
                                    <td>Feld 2</td>
                                </tr>
                                <tr>
                                    <td>Test 3</td>
                                    <td>"Feld 3 "</td>
                                </tr>
                                <tr>
                                    <td>Test 4</td>
                                    <td>Feld  4</td>
                                </tr>
                                <tr>
                                    <td>Test 5</td>
                                    <td>Feld5</td>
                                </tr>
                            </table>
                        </div>
                        <br>
                        <p>4.7 multidropdown</p>
                        <div>
                            Im Type multidropdown können mehrere Elemente ausgewählt werden, jedoch hat Excel kein Dropdown womit mehrere Elemente ausgewählt werden können.<br>
                            Deshalb muss in Multidropdown die einzelnen Elemente mit einem Semikolon (;) getrennt werden. <br>
                            Ein Beispiel:<br>
                            Hier wird im Dokumentationssystem Bewässerungssysteme ausgewählt<br>
                            <br>
                            <mat-form-field appearance="fill">
                                <mat-label>Bewässerungssysteme</mat-label>
                                <mat-select [formControl]="Bewaesserungssysteme" multiple>
                                  <mat-option *ngFor="let array of [
                                  'Düse 1',
                                  'Düse 2',
                                  'Brauserohr',
                                  'Tülle',
                                  'Flachstrahldüse 1',
                                  'Flachstrahldüse 2',
                                  'Nebeldüse',
                                  'Runddüse',
                                  'Beregnungsdüse'
                                  ]" [value]="array">{{array}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <br>
                            Hier wird das Bewässerungssystem in einer Tabelle ausgewählt<br>
                            <br>
                            <table>
                                <tr class="row_without_borderline">
                                    <th>Feld</th>
                                </tr>
                                <tr class="row_without_borderline">
                                    <td>Allgemein</td>
                                </tr>
                                <tr>
                                    <th>*Name</th>
                                    <th>*Bewässerungssysteme</th>
                                </tr>
                                <tr>
                                    <td>Test 1</td>
                                    <td>Düse 1;Brauserohr;Tülle</td>
                                </tr>
                            </table>
                            <br>
                            Achten sie auf Leerzeichen. Das Untere würde ein Fehler zurückgeben!<br>
                            <table>
                                <tr class="row_without_borderline">
                                    <th>Feld</th>
                                </tr>
                                <tr class="row_without_borderline"> 
                                    <td>Allgemein</td>
                                    <td><BLOCKQUOTE></BLOCKQUOTE></td>
                                </tr>
                                <tr>
                                    <th>*Name</th>
                                    <th>*Bewässerungssysteme</th>
                                </tr>
                                <tr>
                                    <td>Test 1</td>
                                    <td>Düse 1 ;Brauserohr ; Tülle</td>
                                </tr>
                            </table>
                            <br>
                            In den Unterkapiteln erhalten sie alle multidropdown Optionen, <br>
                            die sie für die jeweiligen Objekte auswählen können. <br>
                            (Es gibt nur Bewässerungssysteme) <br>

                            <div>
                                <br>
                                <p>4.7.1 Bewässerungssysteme</p>
                                <div>
                                    <table>
                                        <tr>
                                            <th>Name</th>
                                        </tr>
                                        <tr>
                                            <td>Düse 1</td>
                                        </tr>
                                        <tr>
                                            <td>Düse 2</td>
                                        </tr>
                                        <tr>
                                            <td>Brauserohr</td>
                                        </tr>
                                        <tr>
                                            <td>Tülle</td>
                                        </tr>
                                        <tr>
                                            <td>Flachstrahldüse 1</td>
                                        </tr>
                                        <tr>
                                            <td>Flachstrahldüse 2</td>
                                        </tr>
                                        <tr>
                                            <td>Nebeldüse</td>
                                        </tr>
                                        <tr>
                                            <td>Runddüse</td>
                                        </tr>
                                        <tr>
                                            <td>Beregnungsdüse</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <br>
                            <div>
                                <p>4.8 array</p>
                                <div>
                                    "array" ist der schwierigste Type. Sowohl zum Anlegen, als auch beim erklären. <br>
                                    Array's werden hier genutzt um mehrere Elemente abzuspeichern. (Vergleichbar wie Multidropdown) <br>
                                    Jedoch können die Inhalte von Array's verschieden sein. <br>
                                    Z.B. In array.text können mehrere Texte angelegt werden => Text 1;Text 2;Text 3 <br>
                                    In array.number können mehrere Nummern angelegt werden => 1;2;3; <br>
                                    <br>
                                    <div>
                                        <p>4.8.1 einzelner Array</p>
                                        <div>
                                            Ein Array kann nur aus einem oder mehreren Array's bestehen. <br>
                                            Im Objekt „Pflanzenstärkungsmittel“ gibt es das Array  „Wirkstoffe.Name“. <br>
                                            Dieser ist ein „array.text“ Type, also können die Inhalte folgendermaßen eingetragen werden: Wirkstoff 1;Wirkstoff 2;Wirkstoff 3; …<br>
                                            Im Dokumentationssystem sieht es folgendermaßen aus: <br>
                                            <br>
                                            <img class="image" src='/assets/img/bedienungsanleitung/Type_Array_einzelner Array.png' alt='image'>
                                        </div>
                                    </div>
                                    <div>
                                        <br>
                                        <p>4.8.2 mehrere Array's</p>
                                        <div>
                                            Ein Array kann nur aus einem oder mehreren Array's bestehen. <br>
                                            Im Objekt „Feld“ gibt es das Array „Beete.Name“ und „Beete.Fläche“. <br>
                                            Diese beiden Array's sind miteinander verknüpft. <br>
                                            <br>
                                            Wenn man nun „Beete 1“ mit einer Fläche von „10“ und “Beete 2“ mit einer Fläche <br>
                                            von „20“ eintragen möchte, muss es folgendermaßen getan werden: <br>
                                            <br>
                                            Im Dokumentationssystem <br>
                                            <br>
                                            <img class="image" src='/assets/img/bedienungsanleitung/Type_Array_mehrere Array.png' alt='image'><br>
                                            <br>
                                            In der Excel <br>
                                            <table>
                                                <tr class="row_without_borderline">
                                                    <th>Feld</th>
                                                </tr>
                                                <tr class="row_without_borderline">
                                                    <td>Allgemein</td>
                                                    <td><BLOCKQUOTE></BLOCKQUOTE></td>
                                                    <td><BLOCKQUOTE></BLOCKQUOTE></td>
                                                    <td>Beete</td>
                                                    <td><BLOCKQUOTE></BLOCKQUOTE></td>
                                                </tr>
                                                <tr>
                                                    <th>*Name</th>
                                                    <th>*Fläche (Brutto in m²)</th>
                                                    <th>*Fläche (Netto in m²)</th>
                                                    <th>*Beete.Name</th>
                                                    <th>*Beete.Fläche (Netto in m²)</th>
                                                </tr>
                                                <tr>
                                                    <td>Feld 1</td>
                                                    <td><BLOCKQUOTE></BLOCKQUOTE></td>
                                                    <td><BLOCKQUOTE></BLOCKQUOTE></td>
                                                    <td>Beete 1;Beete 2</td>
                                                    <td>10;20</td>
                                                </tr><tr>
                                                    <td>Feld 2</td>
                                                    <td><BLOCKQUOTE></BLOCKQUOTE></td>
                                                    <td><BLOCKQUOTE></BLOCKQUOTE></td>
                                                    <td>Beete 1</td>
                                                    <td>10;20</td>
                                                </tr>
                                            </table>
                                            "Feld 1" kann erstellt werden, während "Feld 2" fehlerhaft ist, <br>
                                            Weil "Beete.Name" und "Beete.Fläche" nicht gleiche Anzahl an Array's haben. <br>
                                            <br>
                                            Im Objekt „Stammlösungsbecken-Düngemischung“ gibt es das Array „Dünger.Mittel“ und „Dünger.Menge“. <br>
                                            „Dünger.Mittel“ hat den Type „array.ref Dünger“. Das Array wählt die Objekte „Dünger“ aus. Schaue in 3.6 nach wie „ref“ funktioniert. <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <p>5. Fehlerbehandlung</p>
                <div>
                    Wenn die Excel Datei ins Dokumentationssystem importiert wird, erhalten sie einen Bericht, <br>
                    worin die Anzahl der erfolgreichen Importe angezeigt wird und die Errors die es gibt. <br>
                    <br>
                    Mögliche Errors sind falsche Type Formate für Dropdown's, Multidropdown's, Checkboxen, ref, Array's, datepicker. <br>
                    <br>
                    Wenn sie ein Error in einer Zeile haben, dann wird diese Zeile nicht abgespeichert. Die Restlichen werden abgespeichert. <br>
                    Nachdem sie die fehlerhafte Zeile korrigiert haben, können sie die Excel erneut hochladen. Die bereits erstellten Zeilen, werden nicht erneut abgespeichert. <br>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>