.add-breaks {
    white-space: pre-wrap !important;
}

div {
    padding-left: 15px;
}

flag {
    clip-path: circle(35% at 50% -10%);
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

.row_without_borderline td, .row_without_borderline th {
    font-weight: normal;
    border: 0px;
}

.table_without_borderlines, .table_without_borderlines tr td, .table_without_borderlines tr th {
    border: 0px !important;
    font-weight: normal !important;
}

.image {
    width: 75%;
}