<!--Debug Functions-->
<!--
<button (click)="getcontext()">showcontext</button>
<button (click)="deleteContext()">deleteContext</button>
<button (click)="showSessionEntities()">
    show entities
</button>

<input placeholder="" [(ngModel)]="querytext" (keyup.enter)="Dialogflow_send_text_request()"/>

<div>
    <button (click)="Dialogflow_send_text_request()">Frage senden</button>
</div>
<br>
-->

<!--
    Mic to use the Speech-Input
-->

<div>
    <div class="max_width">
        <span>
            <button mat-mini-fab color="primary" (click)="recordingStart()" *ngIf="recordingstarted == 'paused' || !(recordingstarted == 'recording')">
                <span class="material-icons">
                    mic
                </span>
            </button>
            <button mat-mini-fab color="primary" *ngIf="recordingstarted == 'recording' || recordingstarted == 'paused'" (click)="Dialogflow_send_audio_request()" style="margin-left: 10px;">
                <span class="material-icons">
                    send
                </span>
            </button>
        </span>
        <!--
        <span class="speech_input_right">
            <mat-slide-toggle color="primary"
                [checked]="slide_Experimental_Intents"
                (change)="slide_Experimental_Intents = !slide_Experimental_Intents">
                Experimentelle Sprachsteuerung
            </mat-slide-toggle>
        </span>
        -->
    </div>

    <div style="white-space: pre;">
        <p>{{dialog.user}}</p>
        <div>{{dialog.dialogflow}}</div>
    </div>
</div>
<mat-horizontal-stepper linear #stepper>
    <!-- First: select an "Massnahme" manuelly or with the Speech-Input -->
    <mat-step label="Auswahl" [stepControl]="firstStepController">
        <form [formGroup]="firstStepController" class="increase_padding">
            <p>
                Wählen sie eine Maßnahme aus.
            </p>
            <mat-form-field>
                <mat-label attr.for="massnahme">
                    Maßnahme
                </mat-label>
                <mat-select id="massnahme" formControlName="massnahme" (selectionChange)="onMassnahmeChange($event)" required>
                    <mat-option>
                        <ngx-mat-select-search [formControl]="massnahmeFilterControl"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let one_Massnahmen of filteredMassnahme| async" [value]="one_Massnahmen.name" [disabled] = "one_Massnahmen.empty"> 
                        {{one_Massnahmen.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-step>
    <!-- Second: select an "Preset" manuelly or with the Speech-Input -->
    <mat-step label="Preset" *ngIf="!skipPresetStepper" [stepControl]="secondStepController" optional>
        <form [formGroup]="secondStepController" class="increase_padding">
            <p>
                Wählen sie ein Preset aus.
            </p>
            <mat-form-field>
                <mat-label attr.for="preset">
                    Preset
                </mat-label>
                <mat-select id="preset" formControlName="preset" (selectionChange)="onPresetChange($event)">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="presetFilterControl"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option value="">
                        --
                    </mat-option>
                    <mat-option *ngFor="let one_Preset of filteredPresets| async" [value]="one_Preset">
                        {{one_Preset.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-step>
    <!-- Third: change the selected "Massnahme" manuelly or with the Speech-Input -->
    <mat-step label="Maßnahme">
        <app-forms-dynamic-form #dynamicFormComponent *ngIf="selected_Massnahme"
            [Dialogflow_Typ]="selected_Massnahme"
            [Dialogflow_Preset_ID]="secondStepController.value['preset']"
            Dialogflow_navigate = 'false'
            Dialogflow_showHeader='false'
            Dialogflow_expanded = 'true' 
            Dialogflow_anzeigen = 'false'
            (Dialogflow_save)   = "save()"
        ></app-forms-dynamic-form>
    </mat-step>
</mat-horizontal-stepper>


