@media (min-width: 599px) {
    .max_width {
        width: 20%;
    } 
}

.speech_input_right {
    float: right;
    position: relative
}

// In the third stepper is an Child Component from "dynamic-form.component"
// The Child component needs to be smaller. Otherwise the Design is wrong and overlaps.
// Through the decrease of the Padding its corrected
:host ::ng-deep .mat-horizontal-content-container {
    padding-left: 0px;
    padding-right: 0px;
}

.increase_padding {
    padding-left: 15px;
}

