<!-- Frontend generierung einzeler Inputs -->
<!-- Alle Inputs die eine mat-form-field benötigen -->
<div [formGroup]="form" *ngIf="matFormFieldInputs.includes(input.controlType); else elseBlockOthers">
  <mat-form-field appearance="fill" class="mat-form-field">
    <mat-label [attr.for]="input.key">{{input.label}} <span *ngIf="input.required">*</span></mat-label>
    <div [ngSwitch]="input.controlType">
      <input *ngSwitchCase="'textbox'" [formControlName]="input.key" [id]="input.key" type="text" matInput>

      <!--dropdown-->
      <ng-container *ngSwitchCase="'dropdown'">
        <ng-container *ngIf="!input.loadUsers; else userDropdown">
          <div *ngIf="input.dependFor; else noDepend">
            <input type="text" matInput [id]="input.key" [formControlName]="input.key" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayDropdown.bind(this)"
              (selectionChange)="checkForDepend()">
              <ng-container *ngIf="input.options !== 'ref'">
                <mat-option *ngFor="let opt of filteredOptions| async" [value]="opt.key">{{opt.value}}</mat-option>
              </ng-container>
            </mat-autocomplete>
          </div>
          <ng-template #noDepend>
            <input type="text" matInput [id]="input.key" [formControlName]="input.key" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayDropdown.bind(this)">
              <ng-container *ngIf="input.options !== 'ref'">
                <mat-option *ngFor="let opt of filteredOptions| async" [value]="opt.key">{{opt.value}}</mat-option>
              </ng-container>
            </mat-autocomplete>
          </ng-template>
        </ng-container>
        <!--user-dropdown-->
        <ng-template #userDropdown>
          <input type="text" matInput [id]="input.key" [formControlName]="input.key" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUser">
            <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
              {{user['FIRST_NAME']}} {{user['LAST_NAME']}}
            </mat-option>
          </mat-autocomplete>
        </ng-template>
      </ng-container>

      <!-- multidropdown-->
      <ng-container *ngSwitchCase="'multidropdown'">
        <mat-select *ngIf="input.dependFor; else noDepend" [id]="input.key" [formControlName]="input.key" multiple
          (selectionChange)="checkForDepend()">
          <mat-option>
            <ngx-mat-select-search [formControl]="multiFilterControl"></ngx-mat-select-search>
          </mat-option>
          <mat-option disabled="disabled" class="filter-option" id="allSelect">
            <!--
                        Checkbox um alles oder nichts im Multiselect auszuwählen
                        Alle mat-option die die ID allSelect haben, haben keine Pseudo-Checkbox
                    -->
            <mat-checkbox (click)="selectToggle(input.key, input.options, true)" color="primary">
              {{ "DYNINPUT_SELECTEVERY" | translate }}
            </mat-checkbox>
          </mat-option>
          <ng-container *ngIf="input.options !== 'ref'">
            <mat-option *ngFor="let opt of filteredObjectsMulti |async" [value]="opt.key">
              {{opt.value}}
            </mat-option>
          </ng-container>
        </mat-select>
        <ng-template #noDepend>
          <ng-container *ngIf="input.dependsOn; else elseBlock">
            <mat-select *ngIf="input.singleDepend; else multiDepend" [id]="input.key" [formControlName]="input.key"
              multiple (selectionChange)="singleDependChange()">
              <ng-container *ngIf="input.options !== 'ref'">
                <mat-optgroup *ngFor="let group of input.options" [label]="group.group">
                  <mat-option [disabled]="option.disabled" *ngFor="let option of group.data" [value]="option.key">
                    {{option.value}}
                  </mat-option>
                </mat-optgroup>
              </ng-container>
            </mat-select>
            <ng-template #multiDepend>
              <mat-select [id]="input.key" [formControlName]="input.key" multiple>
                <ng-container *ngIf="input.options !== 'ref'">
                  <mat-optgroup *ngFor="let group of input.options" [label]="group.group" [disabled]="group.disabled">
                    <mat-option *ngFor="let option of group.data" [value]="option.key">
                      {{option.value}}
                    </mat-option>
                  </mat-optgroup>
                </ng-container>
              </mat-select>
            </ng-template>
          </ng-container>
          <ng-template #elseBlock>
            <mat-select [id]="input.key" [formControlName]="input.key" multiple>
              <mat-option>
                <ngx-mat-select-search [formControl]="multiFilterControl"></ngx-mat-select-search>
              </mat-option>
              <mat-option disabled="disabled" class="filter-option" id="allSelect">
                <!--Checkbox um alles oder nichts im Multiselect auszuwählenAlle mat-option die die ID allSelect haben, haben keine Pseudo-Checkbox-->
                <mat-checkbox (click)="selectToggle(input.key, input.options, false)" color="primary">
                  {{ "DYNINPUT_SELECTEVERY" | translate }}
                </mat-checkbox>
              </mat-option>
              <ng-container *ngIf="input.options !== 'ref'">
                <mat-option *ngFor="let opt of filteredObjectsMulti| async" [value]="opt.key">
                  {{opt.value}}
                </mat-option>
              </ng-container>
            </mat-select>
          </ng-template>
        </ng-template>
      </ng-container>

      <input *ngSwitchCase="'number'" [formControlName]="input.key" [id]="input.key" type="text" matInput>

      <textarea *ngSwitchCase="'textarea'" [formControlName]="input.key" [placeholder]="input.placeholder"
        matInput></textarea>
    </div>

    <mat-hint *ngIf="input.hint">{{input.hint}}</mat-hint>
    <!--Errors dürfen in Anzeigedialog nicht auftauchen, selbst wenn das Feld hier als Invalid gilt-->
    <mat-error *ngIf="form.controls[input.key].hasError('required')" translate [translateParams]="{label: input.label}">DYNINPUT_REQUIRED</mat-error>
    <mat-error *ngIf="form.controls[input.key].hasError('min')" translate [translateParams]="{label: input.label, min: input.min}">DYNINPUT_MIN
    </mat-error>
    <mat-error *ngIf="form.controls[input.key].hasError('max')" translate [translateParams]="{label: input.label, max: input.max}">DYNINPUT_MAX
    </mat-error>
    <mat-error *ngIf="form.controls[input.key].hasError('pattern')">{{ "DYNINPUT_PATTERN" | translate }}</mat-error>
    <mat-error *ngIf="form.controls[input.key].hasError('objectId')">{{ "DYNINPUT_OBJECTID" | translate }}</mat-error>
    <mat-error *ngIf="form.controls[input.key].hasError('misc')">{{ "DYNINPUT_MISC" | translate }}</mat-error>
    <mat-icon
      *ngIf="clearButton && !anzeigen && form.controls[input.key].value !== undefined && form.controls[input.key].value !== null && form.controls[input.key].value.length > 0"
      matSuffix (click)="resetDropdown()" style="cursor: pointer;">close</mat-icon>
  </mat-form-field>
</div>

<!-- Alle Inputs die kein mat-form-field benötigen -->
<ng-template #elseBlockOthers>
  <div [ngSwitch]="input.controlType">

    <mat-checkbox *ngSwitchCase="'checkbox'" labelPosition="before" [formControl]="form.controls[input.key]"
      color="primary">
      {{ input.label }}
    </mat-checkbox>

    <div *ngSwitchCase="'radio'">
      <label>{{ input.label }}: </label>
      <mat-radio-group [formControl]="form.controls[input.key]" id="radio-group">
        <mat-radio-button *ngFor="let option of input.options" [value]='option.key' color="primary">{{option.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div *ngSwitchCase="'array'">
      <!-- Optionen und Key müssen mitübergeben werden -->
      <input-array [formControl]="form.controls[input.key]" [key]="input.key" [options]="input.options"
        [arrayDepend]="arrayDepend" [anzeigen]="anzeigen">
      </input-array>
    </div>

    <div *ngSwitchCase="'range'" class="sliderDiv">
      <label>{{ input.label }}: </label>
      <ngx-slider [formControl]="form.controls[input.key]" [options]="input.options" [id]="input.key"></ngx-slider>
    </div>

    <div *ngSwitchCase="'slider'" class="sliderDiv">
      <label>{{ input.label }}: </label>
      <ngx-slider [id]="input.key" [options]="input.options" [formControl]="form.controls[input.key]"></ngx-slider>
    </div>

    <ng-container *ngSwitchCase="'datepicker'">
      <mat-form-field ngClass="datepycker" appearance="fill" class="mat-form-field">
        <mat-label [attr.for]="input.key">{{input.label}}</mat-label>
        <input matInput [ngxMatDatetimePicker]="dp" [formControl]="form.controls[input.key]">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #dp [touchUi]="true" class="test">
        </ngx-mat-datetime-picker>
      </mat-form-field>
    </ng-container>
  </div>

  <!-- funktionieren ohne mat-form-field nicht richtig bzw. sehen nicht so gut aus -->
  <mat-hint *ngIf="input.hint">{{input.hint}}</mat-hint>
  <!--Errors dürfen in Anzeigedialog nicht auftauchen, selbst wenn das Feld hier als Invalid gilt-->
  <mat-error *ngIf="form.controls[input.key].hasError('required')" translate [translateParams]="{label: input.label}">DYNINPUT_REQUIRED</mat-error>
  <mat-error *ngIf="form.controls[input.key].hasError()">{{input.label}}</mat-error>
  <mat-error *ngIf="form.controls[input.key].hasError('misc')">{{ "DYNINPUT_MISC" | translate }}</mat-error>
</ng-template>