#radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

@media (max-width: 699px) {
  mat-form-field {
    width: 16rem;
    margin: 10px;
  }
}

@media (min-width: 600px) and (max-width: 630px) {
  mat-form-field {
    width: 15rem;
    margin: 10px;
  }
}

@media (min-width: 700px) {
  mat-form-field {
    width: 18rem;
    margin: 10px;
  }
}

@media (min-width: 960px) and (max-width: 1000px) {
  mat-form-field {
    width: 17rem;
    margin: 10px;
  }
}

::ng-deep #allSelect mat-pseudo-checkbox {
  display: none;
}

@media (max-width: 699px) {
  .sliderDiv {
    width: 240px;
  }
}

@media (min-width: 700px) {
  .sliderDiv {
    width: 270px;
  }
}

::ng-deep {
  .sliderDiv .ngx-slider .ngx-slider-bar {
    height: 2px;
  }

  .sliderDiv .ngx-slider .ngx-slider-selection {
    background: #304ffe;
  }

  .sliderDiv .ngx-slider .ngx-slider-pointer {
    width: 15px;
    height: 15px;
    top: -7px;
    background-color: #304ffe;
  }

  .sliderDiv .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .sliderDiv .ngx-slider .ngx-slider-tick.ngx-slider-selected {
    background: #304ffe;
  }

  .sliderDiv .ngx-slider .ngx-slider-tick {
    width: 7px;
    height: 7px;
    margin-left: 5px;
    top: 0px;
  }
}

::ng-deep .datepycker input {
  width: 80%;
  vertical-align: center !important;
  margin-top: 0.75em;
}

::ng-deep .datepycker .mat-form-field-infix[class*="ng-tns-c111-"] {
  padding: 0;
  margin-bottom: 0.15em;
  border: 0;
}

@media (max-width: 420px) {
  ::ng-deep .mat-datepicker-content .mat-calendar {
    width: 250px!important;
}
}
