<h2>{{ 'DASHBOARD_TOP' | translate }}
   <!-- Button um Export zu öffnen-->
    <button mat-flat-button id="export" style="float: right;" (click)="openExportDialog()"
        matTooltip="Bericht erstellen" color="accent">
        <mat-icon>file_download</mat-icon>
        {{ 'REPORT_CREATE' | translate }}
    </button>
</h2>
<h3 *ngIf="loaded">{{ 'DASHBOARD_GREET' | translate }}, {{nameToShow()}}.</h3>

<app-all-ubersicht favoritesOnly="true" type="typen"></app-all-ubersicht>
<mat-divider></mat-divider>
<app-all-ubersicht favoritesOnly="true" type="maßnahmen"></app-all-ubersicht>
<mat-divider></mat-divider>
<app-all-ubersicht favoritesOnly="true" type="presets"></app-all-ubersicht>
