<!-- Lade spinner -->
<h1 *ngIf="dialogName.includes('Preset'); else noPreset">{{ "EINZEL_UBERSICHT_OVERVIEW" | translate }} {{dialogName.split("Preset_")[1]}}</h1>
<ng-template #noPreset>
    <h1>{{ "EINZEL_UBERSICHT_OVERVIEW" | translate }} {{dialogName}}</h1>
</ng-template>
<div class="loading-shade" *ngIf="!loaded; else tableBlock">
    <mat-spinner></mat-spinner>
</div>
<ng-template #tableBlock>
    <mat-grid-list [gridCols]="{xs: 1, sm: 1, md: 1, lg: 1, xl: 1}" rowHeight="60px">
        <mat-grid-tile>
            <div style="position: absolute;left: 5px;">
                <button mat-mini-fab color="accent" matTooltip="zurück" (click)="backUbersicht()"
                    style="margin-right: 25px">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <!-- Filter -->
                <mat-form-field style="width: 150px;">
                    <mat-label>Filter</mat-label>
                    <input matInput [(ngModel)]="filterValue" (keydown)="$event.keyCode === 13 ? applyFilter(): null"
                        placeholder="durch , trennen" #input>
                    <mat-icon *ngIf="filterValue !== ''" (click)="resetFilter()" matSuffix
                        style="opacity: 70%; color: grey; cursor: pointer;">highlight_off</mat-icon>
                </mat-form-field>
                <mat-icon (click)="applyFilter()" style="margin-left: 10px;cursor: pointer;">search</mat-icon>
            </div>
            <div style="position: absolute;right: 5px;">
                <button mat-mini-fab color="primary" mat-button matTooltip="Neu" style="float:right"
                    [routerLink]="newLink + newLinkEnding">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <!-- Tabelle generieren -->
    <div class="mat-elevation-z8">
        <div class="ubersichtstabelle">
            <table mat-table [dataSource]="objects" matSort matTableResponsive>
                <!-- Tabellen Spalten generieren -->
                <ng-container *ngFor="let colum of displayedColums" [matColumnDef]="colum.key"
                    [sticky]="isStickyBegin(colum.key)" [stickyEnd]="isStickyEnd(colum.key)">
                    <ng-container *ngIf="colum.type != 'buttons'; else noSort">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{colum.label}} </th>
                    </ng-container>
                    <ng-template #noSort>
                        <th mat-header-cell *matHeaderCellDef> {{ "CATEGORYPOPUP_TABLE.ACTION" | translate }} </th>
                    </ng-template>
                    <ng-container [ngSwitch]="colum.type">
                        <!-- Normale Datepicker anzeigen -->
                        <ng-container *ngSwitchCase="'datepicker'">
                            <td mat-cell *matCellDef="let object"> {{showDate(object[colum.key]["value"])}} Uhr </td>
                        </ng-container>
                        <!-- Einfache Dropdowns anzeigen -->
                        <ng-container *ngSwitchCase="'dropdown'">
                            <td mat-cell *matCellDef="let object"> {{object[colum.key]['value']}}</td>
                        </ng-container>
                        <!-- Multidropdowns anzeigen -->
                        <ng-container *ngSwitchCase="'multidropdown'">
                            <td mat-cell *matCellDef="let object">
                                <span *ngFor="let element of object[colum.key]; let i = index" [attr.data-index]="i">
                                    <span *ngIf="i < object[colum.key].length-1; else elseMulti">{{element['value']}}, </span>
                                    <ng-template #elseMulti>
                                        {{element['value']}}
                                    </ng-template>
                                </span>
                            </td>
                        </ng-container>
                        <!-- Array anzeigen -->
                        <ng-container *ngSwitchCase="'array'">
                            <td mat-cell *matCellDef="let object">
                                <span *ngFor="let element of object[colum.key]; let i = index" [attr.data-index]="i"> 
                                    <span *ngIf="i < object[colum.key].length-1; else elseArray">{{element['value']}}, </span>
                                    <ng-template #elseArray>
                                        {{element['value']}}
                                    </ng-template>
                                </span>
                            </td>
                        </ng-container>
                        <ng-container *ngSwitchCase="'buttons'">
                            <td mat-cell *matCellDef="let object">
                                <button mat-icon-button [routerLink]="newLink + '/anzeigen'"
                                    [queryParams]='{"id": object._id, "anzeigen": true}' matTooltip="Details">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                                <button mat-icon-button [routerLink]="newLink + '/bearbeiten'"
                                    [queryParams]='{"id": object._id, "bearbeiten": true}' matTooltip="Bearbeiten">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button *ngIf="typ === 'massnahme'" mat-icon-button matTooltip="Maßnahme wiederholen"
                                    [routerLink]="newLink + '/ablegen'" [queryParams]='{"id": object._id}'>
                                    <mat-icon>loop</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <!-- Radio anzeigen -->
                        <ng-container *ngSwitchCase="'radio'">
                            <td mat-cell *matCellDef="let object"> {{object[colum.key].value}} </td>
                        </ng-container>
                        <!-- Alles andere -->
                        <ng-container *ngSwitchDefault>
                            <td mat-cell *matCellDef="let object"> {{object[colum.key]}} </td>
                        </ng-container>
                    </ng-container>
                </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumsKeys; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumsKeys;"></tr>
                    <!-- Reihe wenn Filter keine passenden Datensätze findet -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell">{{ "NO_FILTER_RESULT" | translate }}
                        </td>
                    </tr>
            </table>
        </div>
        <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="onPaginate($event)" [pageIndex]="pageIndex -1"></mat-paginator>
    </div>
</ng-template>
