<h1 *ngIf="title === 'Preset'; else noPreset">{{title}} {{action}} - {{object.split("Preset_")[1]}}</h1>
<ng-template #noPreset>
    <h1>{{title}} {{action}} - {{object}}</h1>
</ng-template>

<app-forms-dynamic-form></app-forms-dynamic-form>