<h2 mat-dialog-title>{{ "REPEAT_TOP" | translate }}</h2>
<!-- Lade spinner -->
<div class="loading-shade" *ngIf="!loaded; else formBlock">
  <mat-spinner></mat-spinner>
</div>
<ng-template #formBlock>
  <mat-dialog-content>
    <!-- Tabelle generieren -->
    <h3 *ngIf="prevMassnahmen._data._value.length === 0; else tableBlock">
      {{ "REPEAT_NOPREV" | translate }}
    </h3>
    <ng-template #tableBlock>
      <table mat-table [dataSource]="prevMassnahmen" matSort class="mat-elevation-z8" matTableResponsive>
        <!-- Tabellen Spalten generieren -->
        <ng-container *ngFor="let col of tableCols" [matColumnDef]="col.key">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{col.label}} </th>
          <ng-container [ngSwitch]="col.type">
            <!-- Erstellungsdatum anzeigen -->
            <ng-container *ngSwitchCase="'create'">
              <td mat-cell *matCellDef="let object">
                <span *ngIf="object[col.key]">
                  {{showDate(object[col.key])}}
                </span>
              </td>
            </ng-container>
            <!-- Normale Datepicker anzeigen -->
            <ng-container *ngSwitchCase="'datepicker'">

              <td mat-cell *matCellDef="let object">
                <span *ngIf="object[col.key]">{{showDate(object[col.key]["value"])}} </span>
              </td>
            </ng-container>
            <!-- Übernehmenbutton anzeigen -->
            <ng-container *ngSwitchCase="'buttons'">
              <td mat-cell *matCellDef="let object">
                <button mat-button id="input" [mat-dialog-close]="object">
                  <mat-icon>input</mat-icon>
                </button>
              </td>
            </ng-container>
            <!-- Einfache Dropdowns anzeigen -->
            <ng-container *ngSwitchCase="'dropdown'">
              <td mat-cell *matCellDef="let object">
                <span *ngIf="object[col.key]">{{object[col.key]['value']}}</span>
              </td>
            </ng-container>
            <!-- Multidropdowns anzeigen -->
            <ng-container *ngSwitchCase="'multidropdown'">
              <td mat-cell *matCellDef="let object">

                <span *ngFor="let element of object[col.key]">
                  <span *ngIf="object[col.key]">
                    {{element['value']}},
                  </span>
                </span>
              </td>
            </ng-container>
            <!-- Radio anzeigen -->
            <ng-container *ngSwitchCase="'radio'">
              <td mat-cell *matCellDef="let object">
                <span *ngIf="object[col.key]">{{object[col.key]['value']}} </span>
              </td>
            </ng-container>
            <!-- Alles andere -->
            <ng-container *ngSwitchDefault>
              <td mat-cell *matCellDef="let object">
                <span *ngIf="object[col.key]">
                  {{object[col.key]}}
                </span>
              </td>
            </ng-container>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableColsKeys"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColsKeys;"></tr>
      </table>
    </ng-template>
  </mat-dialog-content>
</ng-template>