<h1 *ngIf="!favoritesOnly; else dashboardHeader">
  {{ "ALL_UBERSICHT_TOP_ALL."  + title | translate }}
</h1>
<ng-template #dashboardHeader>
  <h1>{{ "ALL_UBERSICHT_TOP_FAVS." + title | translate }}</h1>
  <h2 *ngIf="favorites.length === 0">{{ "ALL_UBERSICHT_TOP_NOFAVS." + title | translate }}</h2>
</ng-template>

<!-- Lade spinner -->
<div class="loading-shade" *ngIf="!loaded; else formBlock">
  <mat-spinner></mat-spinner>
</div>

<!-- Zu ladener Inhalt -->
<ng-template #formBlock>
  <mat-grid-list [gridCols]="{xs: 1, sm: 1, md: 1, lg: 1, xl: 1}" rowHeight="60px" *ngIf="!favoritesOnly">
    <mat-grid-tile [rowspan]="2">
      <div style="position: absolute;left: 5px;">
        <!-- Button um Kategorien zu verwalten-->
        <button *ngIf="!favoritesOnly" mat-button id="kategorien" (click)="openKategorien()"
          matTooltip="Kategorien verwalten">
          <mat-icon>category</mat-icon>
        </button>
        <!-- Filter (Suchleiste) -->
        <mat-form-field style="width: 180px; margin-left: 25px;">
          <mat-label>Filter</mat-label>
          <input matInput [(ngModel)]="filterValue" (keydown)="$event.keyCode === 13 ? applyFilter(): null"
            placeholder="Name des Items" #input>
        </mat-form-field>
        <!-- Filter (Kategorien) -->
        <span class="kategorienFilter">
          <mat-form-field>
            <mat-label attr.for="kategorie">{{ "CATEGORIES" | translate }}</mat-label>
            <mat-select id="kategorie" [formControl]="kategorieControl" multiple (selectionChange)="mapKategorien()">
              <mat-option>
                <ngx-mat-select-search [formControl]="kategorieFilterControl"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let kategorie of filteredKategorien| async" [value]="kategorie._id">
                <mat-chip-list>
                  <mat-chip [ngStyle]="{'background-color': '#' + kategorie['color'], 'color': kategorie['textColor']}">
                    {{kategorie.name}}
                  </mat-chip>
                </mat-chip-list>
              </mat-option>
              <mat-select-trigger>
                <mat-chip-list>
                  <mat-chip *ngFor="let kategorie of mappedKategorien"
                    [ngStyle]="{'background-color': '#' + kategorie['color'], 'color': kategorie['textColor']}">
                    {{kategorie.name}}
                  </mat-chip>
                </mat-chip-list>
              </mat-select-trigger>
            </mat-select>
          </mat-form-field>
          <mat-icon *ngIf="filterValue !== '' || kategorieControl.value !== null" (click)="resetFilter()"
            style="opacity: 70%; color: grey; cursor: pointer;">highlight_off</mat-icon>
          <mat-icon (click)="applyFilter()" style="margin-left: 10px;cursor: pointer;">search</mat-icon>
        </span>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- Alle aus den Datenbank geladenen Objektdialog in einer Gridlist -->
  <mat-grid-list [gridCols]="{xs: 1, sm: 2, md: 3, lg: 4, xl: 5}" rowHeight="15rem" *ngIf="!favoritesOnly || favorites.length > 0">
    <ng-container *ngFor="let object of objectsToShow">
      <mat-grid-tile *ngIf="!favoritesOnly || object.favorite">
        <mat-card class="itemCard" style="margin: 5px">
          <mat-card-header style="height: 60px;">
            <mat-card-title *ngIf="title === 'Presets'; else elseTitle">{{object.name.split("Preset_")[1]}}
              <app-favoriten favType="{{favoritesValue}}" [item]="object" [isFavOnInit]="object.favorite">
              </app-favoriten>
            </mat-card-title>
            <ng-template #elseTitle>
              <mat-card-title>{{object.name}}
                <app-favoriten favType="{{favoritesValue}}" [item]="object" [isFavOnInit]="object.favorite">
                </app-favoriten>
              </mat-card-title>
            </ng-template>
          </mat-card-header>
          <mat-card-content>
            <!-- Kategorien hinzufügen oder entfernen -->
            <app-kategorien-dropdown style="width: 80%;" [kategorien]="object.kategorien"
              [allKategorien]="allKategorien" [id]="object._id" [typ]="newLinkParams[0]"
              (changedKategorien)="updateItem($event)"></app-kategorien-dropdown>
          </mat-card-content>
          <mat-card-actions>
            <button mat-mini-fab color="primary" mat-button matTooltip="Neu" style="height: 39px; width: 39px;"
              routerLink='/tool/{{newLinkParams[0]}}/verwalten/{{object.name}}/{{newLinkParams[1]}}'>
              <mat-icon>add</mat-icon>
            </button>
            <button mat-mini-fab color="primary" mat-button matTooltip="Übersicht" style="height: 39px; width: 39px;"
              routerLink='/tool/ubersicht/{{newLinkParams[0]}}/{{object.name}}'>
              <mat-icon>visibility</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>

  <h3 *ngIf="objectsToShow.length === 0">{{ "NO_FILTER_RESULT" | translate }}</h3>
</ng-template>