mat-card {
    width: 20rem;
    height: 10rem;
    margin-bottom: 20px;
}

mat-card-header {
    position: relative;
}

app-favoriten {
    position: absolute;
    top: -9px;
    right: 0;
}

mat-card-actions {
    position: absolute;
    bottom: 13px;
}

@media (max-width: 518px) {
    .kategorienFilter {
        margin-left: 90px;
    }
}

@media (min-width: 519px) {
    .kategorienFilter {
        margin-left: 10px;
    }
}
