<h1 mat-dialog-title>{{ "CATEGORYPOPUP_MANAGE" | translate }}</h1>
<div mat-dialog-content>
    <div id="add-kategorie">
        <form [formGroup]="form" #formDirective="ngForm" >
            <mat-grid-list [gridCols]="{xs: 1, sm: 2, md: 3, lg: 4, xl: 5}" rowHeight="2:0.75">
                <mat-grid-tile>
                    <mat-form-field appearance="fill">
                        <mat-label>{{ "CATEGORYPOPUP_NAME" | translate }}</mat-label>
                        <input formControlName="name" type="text" matInput>
                        <mat-hint>{{ "CATEGORYPOPUP_UNIQUE" | translate }}</mat-hint>
                        <mat-error *ngIf="form.controls['name'].hasError('required')">{{ "CATEGORYPOPUP_REQUIRED_NAME" | translate }}</mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>{{ "CATEGORYPOPUP_COLOR" | translate }}</mat-label>
                        <input matInput [ngxMatColorPicker]="picker" formControlName="color">
                        <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
                        <ngx-mat-color-picker #picker touchUi="true" [color]="color"></ngx-mat-color-picker>
                        <mat-error *ngIf="form.controls['color'].hasError('required')">{{ "CATEGORYPOPUP_REQUIRED_COLOR" | translate }}</mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-label style="margin-right: 10px;">{{ "CATEGORYPOPUP_TEXTCOLOR" | translate }}</mat-label>
                    <mat-slide-toggle color="primary" (click)="toggleTextColor()"></mat-slide-toggle>
                </mat-grid-tile>
                <mat-grid-tile *ngIf="name !== undefined && name !== ''">
                    <mat-label style="margin-right: 10px;">{{ "CATEGORYPOPUP_PREVIEW" | translate }}</mat-label>
                    <mat-chip [ngStyle]="{'background-color': pickedColor, 'color': textColor}">
                        {{name}}
                    </mat-chip>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-mini-fab color="primary" style="float: right;" (click)="addValue()">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </div>
    <div id="alle-kategorien">
        <!-- Lade spinner -->
        <div class="loading-shade" *ngIf="!loaded; else tableBlock">
            <mat-spinner></mat-spinner>
        </div>
        <ng-template #tableBlock>
            <table mat-table matTableResponsive [dataSource]="kategorien" class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>{{ "CATEGORYPOPUP_TABLE.NAME" | translate }}</th>
                    <td mat-cell *matCellDef="let element">{{element['name']}}</td>
                </ng-container>
                <ng-container matColumnDef="color">
                    <th mat-header-cell *matHeaderCellDef>{{ "CATEGORYPOPUP_TABLE.COLOR" | translate }}</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-chip-list>
                            <mat-chip
                                [ngStyle]="{'background-color': '#' + element['color'], 'color': element['textColor']}">
                                {{element['color']}}
                            </mat-chip>
                        </mat-chip-list>
                    </td>
                </ng-container>
                <!-- Button um die gewählte Zeile wieder zu löschen -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>{{ "CATEGORYPOPUP_TABLE.ACTION" | translate }}</th>
                    <td mat-cell *matCellDef="let element">
                        <button (click)="deleteValue(element['_id'])" mat-mini-fab color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <p *ngIf="kategorien.lenght === 0">{{ "CATEGORYPOPUP_NOCAT" | translate }}</p>
        </ng-template>
    </div>
</div>