mat-grid-list{
    border: 1px solid #00000033
}
table{
    width: 100%
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: white;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color:#c9c9c9;
}

::ng-deep .mat-slide-toggle.mat-primary .mat-slide-toggle-thumb {
    background-color: black;
}

::ng-deep .mat-slide-toggle.mat-primary .mat-slide-toggle-bar {
    background-color: #c9c9c9;
}