<!-- Lade spinner -->
<div class="loading-shade" *ngIf="!loaded">
    <mat-spinner></mat-spinner>
</div>
<h1 mat-dialog-title>Spreadsheet ins Dokumentationssystem importieren</h1>
<div>
    <div>
        
        <button (click)="getTemplate()">
            Das Spreadsheet Template downloaden
        </button>
        <br> (In der Bedienungsanleitung finden sie eine Erklärung, wie das Template aufgebaut ist.)
    </div>
    <br>
    <div>
        <label for="file">Wählen sie ein ausgefülltes Spreadsheet Template aus. (Nur .xlsx wird unterstützt)</label>
        <br>
        <input type="file"
               id="file"
               (change)="handleFileInput($event.target.files)">
        <button type="submit" (click)="importExcel()">
            Sende Spreadsheet Datei
        </button>
    </div>
    <div *ngIf="success && errors">
        <hr>
        <h1> Anzahl an erfolgreich gespeicherten Zeilen: </h1>
        <div *ngFor="let tmpSuccess of success">
            Name: {{tmpSuccess.name}} | Anzahl: {{tmpSuccess.value}} 
        </div>

        <hr>
        <h1> Fehler: </h1>
        <div *ngFor="let tmpErrors of errors">
            Im Objekt "{{tmpErrors.name}}"
            <div *ngFor="let tmpError of tmpErrors.data" style="padding-left: 40px">
                <div *ngIf="tmpError.name">
                    In Zeile "{{tmpError.name}}"
                </div>
                <div *ngIf="tmpError.column">
                    in der Spalte "{{tmpError.column}}"
                </div>
                <div *ngIf="tmpError.error">
                    entstand der Error: "{{tmpError.error}}"
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

