<mat-sidenav-container [hasBackdrop]="true" class="nav-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" id="sidebar">
    <h2>{{ 'PLONK_SIDEBAR_TOP' | translate }}</h2>
    <mat-nav-list>
      <mat-list-item *ngFor="let link of sidebarLinks" routerLink="{{ link.link }}">
        <a matLine>{{ link.label | translate}}</a>
      </mat-list-item>

      <mat-list-item *ngFor="let link of last_sidebarLink" routerLink="{{ link.link }}" class="bottom-sidebar">
        <a matLine>{{ link.label | translate}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span style="margin-top: 5px; margin-left: 5px">
        <img src="../assets/logo_white_large.png" width="100px" heigth="20px" alt="PLONK">
      </span>
      <span class="spacer"></span>
      <a mat-icon-button (click)="lang('de')" matTooltip="Deutsch">
        <flag country="DE"></flag>
      </a>
      <a mat-icon-button (click)="lang('nl')" matTooltip="Nederlands">
        <flag country="NL"></flag>
      </a>
      <!-- Profile -->
      <a mat-icon-button [href]="userProfileURL" matTooltip="Profil" target="_blank">
        <mat-icon>person</mat-icon>
      </a>
      <!-- Logout -->
      <button mat-icon-button matTooltip="Logout" (click)="doLogout()">
        <mat-icon>login</mat-icon>
      </button>
    </mat-toolbar>
    <div id="spacer">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
