<!-- Lade spinner -->
<div class="loading-shade" *ngIf="!loaded">
    <mat-spinner></mat-spinner>
</div>
<h1 mat-dialog-title>Bericht in Excel erstellen</h1>
<div mat-dialog-content>
    <mat-grid-list [gridCols]="{xs: 1, sm: 2, md: 2, lg: 2, xl: 2}" rowHeight="2:0.75">
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Zeitraum</mat-label>
                <mat-date-range-input [formGroup]="zeitraum" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Startdatum">
                    <input matEndDate formControlName="ende" placeholder="Enddatum">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error *ngIf="zeitraum.controls.start.hasError('matStartDateInvalid')">Ungültiges Startdatum
                </mat-error>
                <mat-error *ngIf="zeitraum.controls.ende.hasError('matEndDateInvalid')">Ungültiges Enddatum
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <!-- Export Button erst aktivieren wenn start- und enddatum ausgewählt -->
            <button mat-stroked-button color="primary" (click)="exportExcel()"
                [disabled]="zeitraum.value.start == null || zeitraum.value.ende == null">Export</button>
        </mat-grid-tile>
    </mat-grid-list>
</div>