<mat-form-field style="width: 100%;">
    <mat-label attr.for="kategorie">{{ "CATEGORIES" | translate }}</mat-label>
    <mat-select id="kategorie" [formControl]="kategorieControl" multiple (selectionChange)="toggleKategorie()" (closed)="emitChanges()"> 
      <mat-option>
        <ngx-mat-select-search [formControl]="kategorieFilterControl"></ngx-mat-select-search>
      </mat-option>
        <mat-option *ngFor="let kategorie of filteredKategorien| async" [value]="kategorie._id">
          <mat-chip-list>
              <mat-chip [ngStyle]="{'background-color': '#' + kategorie['color'], 'color': kategorie['textColor']}">
                  {{kategorie.name}}
              </mat-chip>
          </mat-chip-list>
        </mat-option>
        <mat-select-trigger>
            <mat-chip-list>
                <mat-chip *ngFor="let kategorie of mappedKategorien" [ngStyle]="{'background-color': '#' + kategorie['color'], 'color': kategorie['textColor']}">
                    {{kategorie.name}}
                </mat-chip>
            </mat-chip-list>
          </mat-select-trigger>
    </mat-select>
  </mat-form-field>
