.button {
    margin: 10px;
    float: right;
}

.actionButtons {
    display: flex;
}

@media (max-width: 599px) {
    .actionButtons {
        justify-content: center;
    }
}

@media (min-width: 600px) {
    .actionButtons {
        justify-content: right;
    }
}

::ng-deep .successSnackbar .mat-simple-snackbar {
    color: #3cb556;
}

::ng-deep .successSnackbar button{
    background: #3cb556;
    color: white;
}
