<!-- Lade spinner -->
<div class="loading-shade" *ngIf="!loaded; else formBlock">
  <mat-spinner></mat-spinner>
</div>
<ng-template #formBlock>
  <mat-grid-list [gridCols]="{xs: 1, sm: 1, md: 1, lg: 1, xl: 1}" rowHeight="60px" *ngIf="Dialogflow_showHeader == 'true'">
    <mat-grid-tile>
      <div style="position: absolute;left: 5px;">
        <!--back Button-->
        <button mat-mini-fab color="accent" matTooltip="zurück" (click)="backOnePage()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <!-- Button um vorangegangene Maßnahmen zu wiederholen-->
        <button *ngIf="massnahmeDurchfuehren && !disableButtons"matTooltip="Maßnahme wiederholen" mat-button id="repeat" (click)="openRepeat(typ)">
          <mat-icon>find_replace</mat-icon>
        </button>
        <!-- Presets -->
          <mat-form-field *ngIf="showPreset && !anzeigen && !bearbeiten">
            <mat-label attr.for="preset">{{ "PRESET" | translate }}</mat-label>
            <mat-select id="preset" multiple (selectionChange)="selected()" [formControl]="presetControl">
              <mat-option>
                <ngx-mat-select-search [formControl]="presetFilterControl"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let preset of filteredPresets| async" [value]="preset">{{preset.value}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div style="position: absolute;right: 5px;">
        <button *ngIf="!disableButtons" mat-mini-fab color="primary" matTooltip="neues Form hinzufügen" (click)="createForm('custom', 'neue Eingabe')">
          <mat-icon>add</mat-icon>
        </button>
        <button *ngIf="anzeigen" mat-mini-fab color="primary" [routerLink]="link + '/bearbeiten'"
          [queryParams]='{"id": lastId, "bearbeiten": true}' matTooltip="Bearbeiten" style="margin-right: 7px">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="anzeigen && repeatButton" mat-mini-fab color="primary" [routerLink]="link + '/ablegen'"
          [queryParams]='{"id": lastId}' matTooltip="wiederholen">
          <mat-icon>loop</mat-icon>
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- Das Formular -->
  <mat-accordion>
    <!-- Ein Panel Pro Form erzeugen -->
    <mat-expansion-panel *ngFor="let form of forms; let i = index" [expanded]="i === step || Dialogflow_expanded == 'true'" id="{{form.id}}">
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: 20px; align-items: center;">{{form.title}}</mat-panel-title>
        <button mat-mini-fab color="warn" *ngIf="form.type === 'wiederholen' || form.type === 'custom'"
          (click)="removeForm(form)" style="margin-right: 20px; align-items: center; box-shadow: none;">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-expansion-panel-header>
      <form [formGroup]="form.form">
        <mat-accordion>
          <!-- Ein Panel pro Sektion erzeugen + Das erste ist beim laden ausgeklappt -->
          <mat-expansion-panel *ngFor="let section of inputs; let i = index" [expanded]="i === step_sector" (opened)="setStep(i)">
            <mat-expansion-panel-header>
              <mat-panel-title>{{section.label}}</mat-panel-title>
              <mat-panel-description>{{section.hint}}</mat-panel-description>
            </mat-expansion-panel-header>
            <!-- Alle Inputs einer Sektion in einer Gridlist laden -->
            <mat-grid-list [gridCols]="{xs: 1, sm: 2, md: 3, lg: 4, xl: 5}" rowHeight="2:0.6">
              <ng-container *ngFor="let input of section.inputs">
                <mat-grid-tile *ngIf="input.controlType !== 'array'">
                  <app-forms-dynamic-input [input]="input" [form]="form.form" [anzeigen]="anzeigen" id="{{form.id}}{{input.key}}">
                  </app-forms-dynamic-input>
                </mat-grid-tile>
              </ng-container>
            </mat-grid-list>
            <!-- Alle Array Inputs müssen außerhalb der eigentlich grid-list dargestellt werden. Folge: Immer am Ende einer Sektion -->
            <div *ngFor="let input of section.inputs" class="array-input">
              <app-forms-dynamic-input *ngIf="input.controlType === 'array'" [input]="input" [form]="form.form"
                [arrayDepend]="{'typ': typ, 'key': input.key}" [anzeigen]="anzeigen">
              </app-forms-dynamic-input>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </form>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="form-row actionButtons" *ngIf="!anzeigen">
    <button mat-raised-button color="accent" (click)="backUbersicht()" class="button" *ngIf="Dialogflow_anzeigen == 'true'">
      <mat-icon>highlight_off</mat-icon>
      {{ "CANCEL" | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="save()" class="button" [disabled]="checkValid()">
      <mat-icon>check_circle_outline</mat-icon>
      {{ "SAVE" | translate }}
    </button>
  </div>

  <!-- Anzeige zum testen -->
  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</ng-template>