<ng-container *ngIf="currentState; else favorit">
    <button (click)="clicked()" mat-icon-button><mat-icon>favorite</mat-icon></button>
</ng-container>
<ng-template #favorit>
    <button (click)="clicked()" mat-icon-button><mat-icon>favorite_border</mat-icon></button>
</ng-template>