<!-- Alle Inputs des Arrays anzeigen -->
<mat-grid-list *ngIf="!anzeigen" [gridCols]="{xs: 1, sm: 2, md: 3, lg: 4, xl: 5}" rowHeight="2:0.6">
    <ng-container *ngFor="let input of allInputs; let i = index">
        <mat-grid-tile>
            <div [formGroup]="form">
                <mat-form-field appearance="fill" class="mat-form-field">
                    <mat-label [attr.for]="input.key">{{input.label}} <span *ngIf="input.required">*</span></mat-label>

                    <div [ngSwitch]="input.controlType">

                        <input *ngSwitchCase="'textbox'" [formControlName]="input.key" [id]="input.key" type="text"
                            matInput>

                        <input *ngSwitchCase="'number'" [formControlName]="input.key" [id]="input.key" type="text"
                            matInput>

                        <!--dropdown-->
                        <ng-container *ngSwitchCase="'dropdown'">
                            <mat-select [id]="input.key" [formControlName]="input.key">
                                <ng-container>
                                    <mat-option *ngFor="let opt of input.options" [value]="opt.key">
                                        {{opt.value}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </ng-container>

                    </div>
                    <mat-hint *ngIf="input.hint">{{input.hint}}</mat-hint>
                    <!--Errors dürfen in Anzeigedialog nicht auftauchen, selbst wenn das Feld hier als Invalid gilt-->
                    <mat-error *ngIf="form.controls[input.key].hasError('required')">{{input.label}} muss angegeben
                        werden</mat-error>
                    <mat-error *ngIf="form.controls[input.key].hasError('min')">{{input.label}} muss höher als
                        {{input.min}} sein</mat-error>
                    <mat-error *ngIf="form.controls[input.key].hasError('max')">{{input.label}} muss niedriger als
                        {{input.max}} sein</mat-error>
                    <mat-error *ngIf="form.controls[input.key].hasError('pattern')">Bitte geben Sie nur Zahlen an
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <!-- + - Icon | dient dazu die Eingaben im Array zu speichern -->
        <mat-grid-tile *ngIf="i === (allInputs.length - 1)">
            <button mat-raised-button color="primary" style="float: right;" (click)="addValue()">
                <span>{{ "ARRAY_ADD" | translate }}</span>
            </button>
        </mat-grid-tile>
    </ng-container>
</mat-grid-list>
<!-- Tabelle um das momentane Array anzuzeigen -->
<table mat-table matTableResponsive [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Alle möglichen Option/Eigenschaften des Arrays anzeigen -->
    <ng-container *ngFor="let option of options" [matColumnDef]="option.key">
        <th mat-header-cell *matHeaderCellDef>{{option['label']}}</th>
        <td mat-cell *matCellDef="let element"> {{element[option.key]}}</td>
    </ng-container>

    <!-- Button um die gewählte Zeile wieder zu löschen -->
    <ng-container *ngIf="!anzeigen" matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Aktion</th>
        <td mat-cell *matCellDef="let i = index">
            <button (click)="deleteValue(i)" mat-mini-fab color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="arrayOptionsToCols(options)"></tr>
    <tr mat-row *matRowDef="let row; columns: arrayOptionsToCols(options);"></tr>
</table>